
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body th:style="'background-color: #c9ffff;'">
<div th:replace="navbar.html :: header"></div>
<div class="container">
    <div class="row my-3" th:classappend="justify-content-end">
        <div class="col" th:class="col-auto">
            <button type="button" class="btn btn-info">
                <a th:href="@{/logout}" style="text-decoration: none; color: inherit;">Logout</a></button>
        </div>
    </div>
    <div th:if="${error}" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div  th:text="${error}"></div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="row" th:classappend="align-items-start">
        <div class="col-5" th:classappend="align-self-start">
           <img class="d-block w-70 img-fluid" src="/images/adminbg.jpg">
        </div>
        <div class="col-7" >
            <h1 class="fst-italic">Search by:</h1>
<!--            <div class="row">-->
            <form th:action="@{/admin/search}" method="get">
                <div th:class="row">
                    <div class="col-md-3 col-12 mb-3">
                        <select class="form-select" name="searchType">
                            <option value="user">User</option>
                            <option value="background">Background</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                    </div>
                    <div class="col-md-3 col-12 mb-3">
                        <button class="btn btn-outline-success w-100" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div class="row">
            <div class="card col-5 me-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <img th:src="@{/images/user.JPG}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">User statistics</h5>
                    <p class="card-text fst-italic">See who is the popular user.</p>
                    <a th:href="@{/admin/user-statistics}" class="btn btn-outline-success">Show</a>
                </div>
            </div>
                <div class="card col-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                    <img th:src="@{/images/favorite-statistics.jpg}" class="card-img-top img-fluid" alt="user image">
                <div class="card-body">
                    <h5 class="card-title">Design statistics</h5>
                    <p class="card-text fst-italic">See what is the favorite design of the users.</p>
                    <a th:href="@{/admin/result-favorite-design}" class="btn btn-outline-success">Show</a>
                </div>
            </div>
            </div>

            <!--</div>-->
</div>
</div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>

