
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body th:style="'background-color: #ffffcc;'">
<div th:replace="navbar.html :: header"></div>
<div class="container">
    <div class="row my-3" th:classappend="justify-content-end">
        <div class="col" th:class="col-auto">
            <button type="button" class="btn btn-info">
                <a th:href="@{/logout}" style="text-decoration: none; color: inherit;">Logout</a></button>
        </div>
    </div>
    <div class="row" th:classappend="align-items-start">
        <div class="col-5" th:classappend="align-self-center">
           <img class="d-block w-70 img-fluid" src="/images/adminbg.jpg">
        </div>
        <div class="col-7" >
            <h1 class="fst-italic">Search by:</h1>
<!--            <div class="row">-->
            <form th:action="@{/admin/search}" method="get">
                <div th:class="row">
                    <div class="col-md-3 col-12 mb-3">
                        <select class="form-select" name="searchType">
                            <option value="user">User</option>
                            <option value="background">Background</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                    </div>
                    <div class="col-md-3 col-12 mb-3">
                        <button class="btn btn-outline-success w-100" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div class="row">
            <div class="card col-5 me-4" style="width: 18rem;">
                <img src="/images/user.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">User statistics</h5>
                    <p class="card-text fst-italic">See who is the popular user.</p>
                    <a href="#" class="btn btn-outline-success">Show</a>
                </div>
            </div>
                <div class="card col-5" style="width: 18rem;">
                    <img src="/images/user.JPG" class="card-img-top img-fluid" alt="user image">
                <div class="card-body">
                    <h5 class="card-title">Design statistics</h5>
                    <p class="card-text fst-italic">See what is the favorite design of the users.</p>
                    <a href="#" class="btn btn-outline-success">Show</a>
                </div>
            </div>
            </div>

            <!--</div>-->
</div>
</div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>

