<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Design Selection</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body th:style="'background-color: #c9ffff;'">
<div th:replace="navbar.html :: header"></div>
<h1>Choose a Design</h1>

<div class="container">
    <div class="row">
        <div class="card col-2 ms-3 g-3" th:each="image : ${imgDesigns}">
            <form th:action="@{/shared/edit-invitation}" method="post">
                <input type="hidden" name="imgPath" th:value="${image}" />
                <button type="submit" class="btn btn-link">
                    <img th:src="@{${image}}" th:alt="${image}" class="card-img-top" />
                </button>
            </form>
        </div>
    </div>
        </div>
        </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
