<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:bootstrap="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body.css}">

</head>
<body>
<form th:action="@{/shared/save}" method="post">
    <div class="container">
        <img class="image" th:src="@{${template}}" th:alt="Image">
        <div class="text-overlay">
            <div class="form-group">
                <input type="text" class="form-control" name="date" placeholder="Date"><br><br>
                <input type="text" class="form-control" name="name" placeholder="Name"><br><br>
                <input type="text" class="form-control" name="location" placeholder="Location"><br><br>
                <input type="text" class="form-control" name="freeText" placeholder="Free text"><br><br>
                <input type="hidden" class="form-control" name="owner" th:value="none"><br><br>
                <input type="hidden" class="form-control" name="template" th:value="${template}"><br><br>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
