<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
<!--style="background-color: #a654fe"-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/contacts}">Contacts</a>
                <a class="nav-link" th:href="@{/login}">Login</a>
                <a class="nav-link" th:href="@{/saved-designs}">Saved designs</a>
                <a class="nav-link" th:href="@{/templates}">Templates</a>
            </div>
        </div>
    </div>
</nav>

<script src="js/bootstrap.min.js"></script>
</body>
</html>