<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <title>My Account</title>
</head>
<body th:style="'background-color: #c9ffff;'">
<div th:replace="navbar.html :: header"></div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div th:if="${errorContact}" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
          <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div  th:text="${errorContact}"></div>
      </div>
      <div th:if="${successContact}" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div  th:text="${successContact}"></div>
      </div>
    </div>
    <div class="col-6">
      <div th:if="${errorDesign}" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
          <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div  th:text="${errorDesign}"></div>
      </div>
    </div>
     </div>
  <div class="row">
    <div class="card col-5 me-4 ms-20 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div th:replace="~{my-contacts.html :: my-contacts}"></div>
      </div>
      <div class="card col-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div th:replace="~{my-designs.html :: my-designs}"></div>
    </div>
</div>
  </div>

</body>

</html>