<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template Selection</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Choose a Template</h1>

<div class="container">
    <div class="row">
        <div class="card col-2 ms-3 g-3" th:each="image : ${imgDesigns}">
            <form th:action="@{/shared/edit-template}" method="post">
                <input type="hidden" name="imgDesignId" th:value="${image}" />
                <button type="submit" class="btn btn-link">
                    <img th:src="@{${image}}" th:alt="${image}" class="card-img-top" />
                </button>
            </form>
        </div>
    </div>
        </div>
        </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>

<!--<div class="template-list">-->
<!--    <ul>-->
<!--        <li th:each="template : ${templates}">-->
<!--            <a th:href="@{/select-template(template=${template})}">-->
<!--                <img th:src="@{'../images/'+${template}}" th:alt="${template}"/>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->